<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <section th:replace="~{layout/plantillaVendedores :: listadoVendedores}"></section>
        <section th:replace="~{layout/plantillaVendedores :: listadoInventario}"></section>
        <section th:replace="~{layout/botones :: botonCrearProducto}"></section>
        <section th:replace="~{layout/plantillaSesion :: botonCrearSesion}"></section>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
